:root {
  --bg-yellow-blue: linear-gradient(#f0e7d6, #669BBC);
  --bg-blue-yellow: linear-gradient(#669BBC, #f0e7d6);
  --big-para: 20px;
  --bg-dark-blue: #003049;
  --section-border-bottom: 5px solid black;
  --min-section-height: 650px;
  --title-font-size: 48px;
  --large-section-width: 1200px;
  --medium-section-width: 1000px;
  --small-section-width: 800px;
}


a{
  text-decoration: none;
  color: #669BBC;
  cursor: pointer;
}

button{
  cursor: pointer;
}

.resumeButton{
  background-color: var(--bg-dark-blue);
  border: 5px solid black;
  border-radius: 25px;
  font-size: var(--big-para);
  color: white;
  padding: 10px 20px;
}

.headerSection{
  background: var(--bg-yellow-blue);
  padding: 50px 0 100px 0;
  text-align: center;
  border-bottom: var(--section-border-bottom);
}

.headerLogo{
  width: 150px;
  border-radius: 50%;
  position: absolute;
  left: 50px;
}

.headerImage{
  width: 200px;
  border-radius: 50%;
  margin-top: 50px;
}

.headerSectionImage{
  background-image: url("/images/grassy landscape.jpg");
  background-repeat: none;
  height: 500px;
  width: 1000px;
  border: 5px solid black;
  border-radius: 25px;
  margin:0 auto;
}

.headerSection h1{
  font-size: var(--title-font-size);
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.headerSection h2{
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  color:white;
  text-shadow: 1px 1px 2px black;
}

.navContainer{
  height:50px;
  background-color:var(--bg-dark-blue);
  max-width:800px;
  border: 5px solid black;
  border-radius: 25px;
  position: relative; 
  margin:50px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.navContainer a{
  justify-content: space-between;
  background-color: var(--bg-dark-blue);
  color: white;
  font-size: 24px;
  font-weight: 600;
  padding-top:5px;
  width:15%;
}

.experienceSection{
  background: var(--bg-blue-yellow);
  min-height: var(--min-section-height);
  border-bottom: var(--section-border-bottom);
}

.sectionTitle{
  font-size: var(--title-font-size);
  text-align: center;
  font-weight: bold;
  color:white;
  text-shadow: 1px 1px 2px black;
}

.experienceContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin:40px auto 100px auto;
  max-width:1000px;
  text-align: center;
  background-color: white;
  border: 5px solid black;
  border-radius: 25px;
}

.experienceContainer p{
  font-size: var(--big-para);
  padding:5px 20px;
}

.navDivider{
  border-right: 5px solid black;
}

.skillsSection{
  background: var(--bg-yellow-blue);
  min-height: var(--min-section-height);
  border-bottom: var(--section-border-bottom);
}

.ul-about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin:0 auto 0 auto;
  max-width: var(--large-section-width);
  text-align: center;
  padding-left:5%;
}


.card-item{
  display:flex;
  justify-content: center;
  padding:10px 0;
  border: solid black;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  height:200px;
  width:500px;
  margin-bottom:20px;
}

.card-item p{
  font-weight:600;
}


.card-item:hover{
  cursor: pointer;
  }

.card-title{
    text-align: center;
  }

  .card-text{
    padding:0 10px;
  }

.about-item{
  position: fixed;
  left: 35%;
  top: 30%;
  border: solid black;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  height: 200px;
  width: 500px;
}

.about-image{
  width: 100px;
}


.projectSection{
  background: var(--bg-blue-yellow);
  min-height: var(--min-section-height);
}


.project-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin:0 auto 0 auto;
  max-width: var(--large-section-width);
  padding: 5% 5% 5% 5%;
}

.project-list p{
padding:0 30px;
}

.border-bottom-project{
  border-bottom: 5px dotted black;
  max-width: var(--large-section-width);
  margin:0 auto;
}


.project-image{
border: 5px solid black;
border-radius: 25px;
}

.text-box{
  background-color:white;
  border: 5px solid black;
  border-radius: 10px;
  max-width:600px;
  font-size: var(--big-para);
  text-align: center;
}

.text-box h4{
  text-align: center;
  font-size:32px;
  margin:0;
  text-decoration: underline;
  color: black;
}

.text-box-link a{
  display: block;
  text-align: center;
  font-size: 24px;
  color:black;
  padding-bottom: 20px;
  font-weight: 600;
}

.project-image{
  background-size: contain;
  width:500px;
  max-height:400px;
}
.right-pane-img{
  text-align: right;
}

.footerSection{
  background: var(--bg-yellow-blue);
  color:white;
  padding-bottom: 20px;
}

.footerSection a{
  color:white;
}

.footerWrapper{
  max-width: var(--large-section-width);
  margin:0 auto 0 auto;
  justify-content: space-evenly;
  padding: 25px 0 0 0;
  background-color: var(--bg-dark-blue);
  border: black solid 5px;
  border-radius: 25px;
}

.footerRow{
  display: flex;
  justify-content: space-evenly;
}


.footerTitle{
  margin:0;
  padding-top:0px;
}

.footerOne{
  max-width:400px;
  
}
.footerOne ul{
  list-style-type: none;
  color:white;
}

.footerNavigation li{
  font-size: 18px;
  padding-bottom: 10px;
  text-decoration: underline;
  font-weight: 600;
}

.footerOne img{
  width:50px;
  height: 50px;
  padding:10px 10px 0px 0px;
}

.footerTwo{
  width: 50%;
  max-width:400px;
}


.small{
  width:30px!important;
  height:30px!important;
  padding-right:10px;
}

.social-icons{
  
}

.footer-bottom{
  text-align: center;
  display: block;
}
.footer-bottom p{
  margin:0;
}