/* Root Responsive CSS Start */

:root {
  --bg-yellow-blue: linear-gradient(#f0e7d6, #669BBC);
  --bg-blue-yellow: linear-gradient(#669BBC, #f0e7d6);
  --nav-para: 24px;
  --nav-padding-top: 5px;
  --big-para: 20px;
  --bg-dark-blue: #003049;
  --section-border-bottom: 5px solid black;
  --min-section-height: 650px;
  --title-font-size: 48px;
  --large-section-width: 1100px;
  --medium-section-width: 1000px;
  --small-section-width: 800px;
  --project-image-width: 500px;
  
}

@media(max-width: 1200px) {
  :root {
    --nav-para: 20px;
    --nav-padding-top: 10px;
    --large-section-width: 900px;
    --medium-section-width: 900px;
    --small-section-width: 700px;

  }

}

@media (max-width: 900px) {

  :root {
    --nav-para: 18px;
    --nav-padding-top: 12px;
    --large-section-width: 750px;
    --medium-section-width: 700px;
    --small-section-width: 600px;
    --big-para: 16px;
  }

}

@media (max-width: 600px) {

  :root {
    --nav-para: 16px;
    --nav-padding-top: 12px;
    --large-section-width: 550px;
    --medium-section-width: 500px;
    --small-section-width: 500px;
  }

}

@media (max-width: 480px) {

  :root {
    --nav-para: 12px;
    --nav-padding-top: 15px;
    --large-section-width: 90%;
    --medium-section-width: 90%;
    --small-section-width: 90%;
  }

}

/* Root Responsive CSS End */

a{
  text-decoration: none;
  color: #669BBC;
  cursor: pointer;
}

button{
  cursor: pointer;
}

/* Header.js CSS Start */

.headerSection{
  background: var(--bg-yellow-blue);
  padding: 50px 0 100px 0;
  text-align: center;
  border-bottom: var(--section-border-bottom);
}

.headerLogo{
  width: 150px;
  border-radius: 50%;
  position: absolute;
  left: 50px;
}

.headerImage{
  width: 200px;
  border-radius: 50%;
  margin-top: 50px;
}

.headerSectionImage{
  background-image: url("background-images/grassy-landscape.jpg");
  background-repeat: none;
  height: 500px;
  width: var(--medium-section-width);
  border: 5px solid black;
  border-radius: 25px;
  margin:0 auto;
}

.headerSection h1{
  font-size: var(--title-font-size);
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.headerSection h2{
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  color:white;
  text-shadow: 1px 1px 2px black;
}

.navContainer{
  height:50px;
  background-color:var(--bg-dark-blue);
  max-width:var(--small-section-width);
  border: 5px solid black;
  border-radius: 25px;
  position: relative; 
  margin:50px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
  font-size: var(--nav-para);
  font-weight: 600;
}

.navDivider{
  border-right: 5px solid black;
}

.navContainer a{
  color: white;
  padding-top:var(--nav-padding-top);
  width:15%;
}

/* Header.js CSS END */

/* experience.js CSS Start */

.experienceSection{
  background: var(--bg-blue-yellow);
  min-height: var(--min-section-height);
  border-bottom: var(--section-border-bottom);
}

.sectionTitle{
  font-size: var(--title-font-size);
  text-align: center;
  font-weight: bold;
  color:white;
  text-shadow: 1px 1px 2px black;
}

.experienceContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin:40px auto 100px auto;
  width:var(--medium-section-width);
  text-align: center;
  background-color: white;
  border: 5px solid black;
  border-radius: 25px;
}

.experienceContainer p{
  font-size: var(--big-para);
  padding:5px 20px;
}

.resumeButton{
  background-color: var(--bg-dark-blue);
  border: 5px solid black;
  border-radius: 25px;
  font-size: var(--big-para);
  color: white;
  padding: 10px 20px;
}

/* experience.js CSS End */

/* skills.js CSS Start */

.skillsSection{
  background: var(--bg-yellow-blue);
  min-height: var(--min-section-height);
  border-bottom: var(--section-border-bottom);
}

.ul-about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin:0 auto 0 auto;
  width: var(--large-section-width);
  text-align: center;
  padding-left:5%;
}

.card-item{
  display:flex;
  justify-content: center;
  padding:10px 0;
  border: solid black;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  height:200px;
  width:500px;
  margin-bottom:20px;
}

.card-item p{
  font-weight:600;
}

.card-item:hover{
  cursor: pointer;
}

.card-title{
  text-align: center;
}

.card-text{
  padding:0 10px;
}

.about-item{
  position: fixed;
  left: 35%;
  top: 30%;
  border: solid black;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  height: 225px;
  width: 500px;
}

.about-image{
  width: 100px;
}

/* skills.js CSS End */


/* projects.js CSS Start */

.projectSection{
  background: var(--bg-blue-yellow);
  min-height: var(--min-section-height);
}


.project-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin:0 auto 0 auto;
  max-width: var(--large-section-width);
  padding: 100px 0;
}

.border-bottom-project{
  border-bottom: 5px dotted black;
  max-width: var(--large-section-width);
  margin:0 auto;
}

.project-image{
border: 5px solid black;
border-radius: 25px;
background-size: contain;
width:var(--project-image-width);
max-height:400px;
}

.text-box{
  background-color:white;
  border: 5px solid black;
  border-radius: 10px;
  width:550px;
  font-size: var(--big-para);
  text-align: center;
}

.text-box h4{
  text-align: center;
  font-size:32px;
  margin:0;
  text-decoration: underline;
  color: black;
}

.text-box-link a{
  display: block;
  text-align: center;
  font-size: 24px;
  color:black;
  padding-bottom: 20px;
  font-weight: 600;
}

.text-box p{
  padding:0 30px;
}

.right-pane-img{
  text-align: right;
}

/* projects.js CSS End */

/* footer.js CSS Start */

.footerSection{
  background: var(--bg-yellow-blue);
  color:white;
  padding-bottom: 20px;
}

.footerSection a{
  color:white;
}

.footerWrapper{
  width: var(--large-section-width);
  margin:0 auto 0 auto;
  justify-content: space-evenly;
  padding: 25px 0 0 0;
  background-color: var(--bg-dark-blue);
  border: black solid 5px;
  border-radius: 25px;
}

.footerRow{
  display: flex;
  justify-content: space-evenly;
}


.footerTitle{
  margin:0;
  padding-top:0px;
}

.footerOne{
  max-width:400px;
  
}

.footerOne ul{
  list-style-type: none;
  color:white;
}

.footerNavigation li{
  font-size: 18px;
  padding-bottom: 10px;
  text-decoration: underline;
  font-weight: 600;
}

.footerOne img{
  width:50px;
  height: 50px;
  padding:10px 10px 0px 0px;
}

.footerTwo{
  width: 50%;
  max-width:400px;
}

.small{
  width:30px!important;
  height:30px!important;
  padding-right:10px;
}

.footer-bottom{
  text-align: center;
  display: block;
}

.footer-bottom p{
  margin:0;
}

/* footer.js CSS End */

/* Responsive CSS Start */

@media(max-width: 1200px) {

  .card-item{
    height:200px;
    width:400px;
  }

  .about-item{
    left: 30%;
    top: 40%;
  }

  .project-image{
    width:400px;
    height:300px;
  }

  .text-box{
    width:450px;
    height:300px;
  }

  .text-box-link a{
    font-size: 20px;
    padding-bottom: 10px;
  }

  .text-box p{
    padding:0 10px;
  }

}

@media (max-width: 900px) {

  .card-item{
    height:200px;
    width:325px;
  }

  .about-item{
    height: 225px;
    width: 450px;
    left: 22%;
  }


  .project-image{
    width:350px;
    height:300px;
  }

  .text-box{
    width:350px;
    height:300px;
  }

  .text-box-link a{
    font-size: 20px;
    padding-bottom: 10px;
  }

  .text-box p{
    padding:0 10px;
  }

}

@media (max-width: 600px) {

  .card-item{
    height:200px;
    width:450px;
  }

  .about-item{
    height: 225px;
    width: 350px;
    left: 18%;
  }

  .ul-about{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .project-list{
    display: block;
    margin:0 auto 0 auto;
    max-width: var(--large-section-width);
    padding: 100px 0;
  }

  .left-pane{
    margin:0 auto;
    text-align: center;
  }

  .left-pane-img{
    text-align: center;
  }

  .right-pane{
    margin:0 auto;
  }

  .right-pane-img{
    text-align: center;
  }

  .headerLogo{
    width: 50px;
    left: 1px;
    top:1px;
  }

}

@media (max-width: 480px) {
  
  .project-image{
    width:90%;
    height:250px;
  }

  .text-box{
    width:90%;
    height:300px;
  }

}

/* Responsive CSS End */